In [12]:
import pandas as pd

In [13]:
csv_2008 = pd.read_csv('final_death/final2008.csv')
csv_2009 = pd.read_csv('final_death/final2009.csv')
csv_2010 = pd.read_csv('final_death/final2010.csv')
codes = pd.read_csv('final_death/358_code_cdc.csv',header=None)

In [14]:
csv_2008['Year']=2008
csv_2009['Year']=2009
csv_2010['Year']=2010

In [15]:
codes.columns = ['358_cause_recode','cause']
#codes = codes.rename(columns={'1':'358_cause_recode','I. Certain infectious and parasitic diseases (A00-B99)':'Cause'})
codes.head()

   358_cause_recode                                              cause
0                 1   I.  Certain infectious and parasitic diseases...
1                 2           Intestinal infectious diseases (A00-A09)
2                 3                                      Cholera (A00)
3                 4     Other intestinal infectious diseases (A01-A08)
4                 5                              Typhoid fever (A01.0)

In [16]:
death_union = pd.concat([csv_2008,csv_2009,csv_2010])
death_union.head()

   358_cause_recode  count  Year
0                 5      2  2008
1                 6     44  2008
2                 7      3  2008
3                 8      7  2008
4                 9      3  2008

In [17]:
death_union['count'].sum()

7390572

In [18]:
death_union = pd.merge(death_union,codes)

In [19]:
death_union = death_union.rename(columns={'358_cause_recode':'cause_code','count':'count','Year':'poll_year','I. Certain infectious and parasitic diseases (A00-B99)':'cause'})

In [20]:
death_union = death_union[["cause_code","cause","count","poll_year"]]

In [21]:
death_union.to_csv('final_union_death.csv')